.layout-admin {
    @extend .w-100;

    .container {
        @extend .w-100;
        @extend .flex;
        min-height: 100vh;
        padding-top: 80px;

        .wrp-side-bar {
            @extend .hide;
            min-height: 100vh;

            @include respond(xl) {
                display: block;
            }
        }

        .mobile-menu-modal {
            justify-content: flex-start;
            cursor: default;

            .close-icon {
                width: 50px;
                height: 50px;
                position: absolute;
                top: 0;
                right: 0;
                font-size: 20px;
                color: $color-blue1;
                cursor: pointer;
                background-color: $color-bodyBgAlt;

                @extend .flex;
                @extend .justify-center;
                @extend .align-center
            }
        }

        .body{
            @extend .layout-admin-body-padding;

            @extend .w-100;
            min-height: 100vh;
            background-color: $color-bodyBg;

            @include respond(xl) {
                width: calc(100% - 230px);
            }
        }
    }
}