@mixin btn-state($variant) {
    &.filled {
        background: $variant;
        color: white;
    }
  
    &.outlined {
        background: white;
        color: $variant;
        border: 1px solid $variant;
    }
}

.base-button {
    &.primary {
        $variant: $color-primary;
        @include btn-state($variant)
    }

    &.danger {
        $variant: $color-danger;
        @include btn-state($variant)
    }
    
    width: 100%;
    font-family: 'Nunito Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 700;
    border: none;
    outline: none;
    border-radius: 4px;
    cursor: pointer;
    line-height: 1;
    font-size: 14px;
    padding: 14px 12px;

    &:focus {
        outline: none;
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    }

    &:disabled {
        cursor: not-allowed;
    }

}