.input-container {
    @extend .w-100;
    display: flex;
    flex-direction: column;
    padding: 0;

    @mixin border($color: false) {
        @if $color {
            border: 1px solid $color;
        } @else {
            border: none;
        }
    }

    .no-border {
        @include border;
    }

    .focus-border {
        &:focus {
            @include border($color-primary);
        }
    }

    .error-border {
        @include border($color-danger);
        &:focus {
            @include border($color-danger);
        }
    }

    .label {
        @include txt-mixin;
        color: $color-blueGrey;
        font-weight: 500;
    }

    .error {
        @include small-txt-mixin;
        color: $color-danger;
        font-weight: 400;
    }

    .input-wrapper {
        @extend .w-100;
        height: fit-content;
        position: relative;
    }

    input {
        @extend .w-100;
        @extend .p-y-6;
        @extend .p-x-12;
        outline: none;
        border-radius: 4px;
        @include border($color-borderGrey);

        &::placeholder {
            font-size: 13px;
            font-weight: 200;
            color: $color-blueGrey;
        }
    }
}
