.layout-login {
    @extend .w-100;
    @extend .h-100;
    @extend .flex;

    background-color: $color-white;

    .page-card-padding {
        @extend .p-x-18;
        @extend .p-y-40;

        @include respond(sm) {
            padding: 40px 22px;
        }

        @include respond(md) {
            padding: 48px;
        }

        @include respond(lg) {
            padding: 60px;
        }
    }

    .brand-section-card {
        @extend .hide;
        @extend .p-x-18;
        @extend .p-y-40;
        @extend .w-50;
        @extend .h-100;

        @include respond(md) {
            display: block;
        }
    }

    .logo-wrp {
        @extend .w-100;
        @extend .flex;
        @extend .p-l-18;
        @include flex-justify(flex-start);
    }

    .logo {
        max-width: 120px;
    }

    .login-image-wrp {
        @extend .w-100;
        @extend .h-100;
        @extend .flex;
        @include flex-align(center);
        @include flex-justify(center);
    }

    .login-image {
        @extend .w-100;
    }

    .login-section-card {
        @extend .page-card-padding;
        @extend .w-100;
        @extend .h-100;
        box-shadow: $page-card-shadow;

        @include respond(md) {
            width: 50%;
        }
    }

    .mobile-logo-wrp {
        @extend .logo-wrp;

        @include respond(md) {
            display: none;
        }
    }

    .login-form-wrp {
        @extend .w-100;
        @extend .h-100;
        @extend .flex;
        @include flex-align(center);
        @extend .p-x-12;

        @include respond(md) {
            padding: 0;
        }
        
        @include respond(lg) {
            padding: 0 32px;
        }

        @include respond(xl) {
            padding: 0 48px;
        }
    }
}
