.container-modal {
    @extend .hide;
    justify-content: center;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    overflow-y: auto;
    cursor: pointer;
    z-index: $z-ttt;
    background: $color-modal-background;

    &.show {
        @extend .flex;
    }

    & > * {
        cursor: default;
    }
}