.table-users {
    @extend .w-100;
    border-collapse: collapse;

    thead, tbody, tr {
        @extend .w-100;
    }

    td, th {
        @extend .p-y-18;
        text-align: left;
    }

    th {
        white-space: nowrap;

        &:not(:last-child) {
            min-width: 150px;

            @include respond(xl) {
                min-width: 110px;
            }
        }

        span {
            font-size: 15px;
            color: $color-blueGrey;
            font-weight: 600;

            &:first-child {
                display: inline-block;
                margin-right: 8px;
            }

            &:last-child {
                cursor: pointer;
            }
        }
    }

    td {
        span {
            @include small-txt-mixin;
            color: $color-blueGrey;
            font-weight: 400;
        }

        &:not(:last-child) {
            @extend .p-r-8;
        }
    }

    tr:not(:last-child) td {
        border-bottom: 1px solid $color-borderGrey;
    }

    li {
        display: flex;
        align-items: center;
        padding: 8px 12px;
        cursor: pointer;
        background-color: $color-white;

        &:not(:last-child) {
            border-bottom: 1px solid $color-borderGrey;
        }

        &:hover {
            background-color: $color-bodyBg;
        }
    }

    .drp-dwn-list-itm {
        @include small-txt-mixin;
        font-weight: 500;
        display: block;

        :first-child{
            @extend .p-x-4;
        }
    }
}