// colors

$color-white: #FFFFFF;
$color-black: rgba(0, 0, 0, 0.8);
$color-primary: #39CDCC;
$color-primaryBg: rgba(57, 205, 204, 0.1); 
$color-blue1: #213F7D;
$color-blue1Alt: rgb(33, 63, 125, 0.5);
$color-blueGrey: #545F7D;
$color-base: #545F7D;
$color-baseBg: rgba(84, 95, 125, 0.1);
$color-borderGrey: rgba(84, 95, 125, 0.15);
$color-default: #DF18FF;
$color-defaultBg: rgba(223, 24, 255, 0.1);
$color-info: #5718FF;
$color-infoBg: rgba(87, 24, 255, 0.1);
$color-success: #39CD62;
$color-successBg: rgba(57, 205, 98, 0.1);
$color-warning: #E9B200;
$color-warningBg: rgba(233, 178, 0, 0.1);
$color-danger: #E4033B;
$color-dangerBg: rgba(228, 3, 59, 0.1);
$color-bodyBg: rgba(229, 229, 229, 0.2);
$color-card-border: rgba(33, 63, 125, 0.06);
$color-drop-down-border: rgba(84, 95, 125, 0.04);


// break-points

$breakpoint-xs: 480px;
$breakpoint-sm: 640px;
$breakpoint-md: 768px;
$breakpoint-lg: 1024px;
$breakpoint-xl: 1280px;
$breakpoint-xxl: 1536px;


// shadows
$page-card-shadow: 0px 15px 90px rgba(0, 0, 0, 0.03);
$top-bar-shadow: 3px 0px 20px rgba(0, 0, 0, 0.04);
$side-bar-shadow: 0px 5px 20px rgba(0, 0, 0, 0.04);
$card-shadow: 3px 5px 20px rgba(0, 0, 0, 0.04);
$drop-down-shadow: 3px 5px 20px rgba(0, 0, 0, 0.04);

// z-indces
$z-1: 1;
$z-2: 2;
$z-3: 3;
$z-5: 5;
$z-t: 10;
$z-tt: 100;
$z-ttt: 1000
